/* Define styles for the container */
:root {
    font-family: 'Rubik', sans-serif;
}

.page-container {
    display: flex;
    flex-direction: row;
}

.bactic-title {
    text-align: center;
    font-family: 'Lobster', sans-serif;
    font-size: 300px;
}

.page-title {
    text-align: center;
}

.page-subtitle {
    text-align: center;
    font-style: italic;
}

.hidden {
    display: none;
}

/* Define styles for the navigation bar */
.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.main {
    margin-left: 160px;
    padding: 0px 10px;
}

/* Define styles for the search bar */
#search-bar {
    width: 80%;
    padding: 10px;
}

/* Define styles for the footer */
#footer {
    background-color: #3498db;
    /* Blue background color */
    color: #fff;
    /* White text color */
    padding: 10px;
    text-align: center;
    width: 100%;
}